// general
$primary: #44d620;
$primary-700: #14c110;
$primary-400: #7fe441;
$red-500: #ef4444;
$secondary: #5849ff;
$white: #fff;
$black: #191919;
$font-family: "Pretendard";

$header-toggler-icon-black: "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{transparentize($black, 0.5)}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E" !default;
$header-toggler-icon-primary: "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{transparentize($primary, 0.5)}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E" !default;

// dashboard
$header-icon-border-color-hover: #ffffff;
$dashboard-line-color-transactions: #ffffff;
$dashboard-banner-gradient-start: $primary; // gradient begin
$dashboard-banner-gradient-end: $primary; // gradient end
$dashboard-banner-network-plain-container-background-color: $primary; // stats bg

html {
  text-size-adjust: auto !important;
}

main {
  .desktop-only {
    display: inherit;
  }

  .mobile-only {
    display: none;
  }

  section[data-page="address-details"],
  section[data-page="transaction-details"] {
    .row {
      margin: 0 !important;
    }
  }

  .js-ad-dependant-mb-2 {
    width: 100%;
  }

  .tile.tile-type-transaction {
    .from-to-address {
      display: flex;

      a[data-test="address_hash_link"] {
        width: auto;
        max-width: 50%;
        color: $primary-700 !important;
      }

      a:first-child {
        margin-right: 5px;
      }

      a:last-child {
        margin-left: 5px;
      }
    }

    .mobile-ellipsis {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .tile.tile-type-internal-transaction,
  .tile.tile-type-token-transfer,
  .tile.tile-type-contract-call {
    .from-to-address {
      display: flex;

      a[data-test="address_hash_link"] {
        width: auto;
        max-width: 50%;
        color: $primary-700 !important;
      }
    }

    .mobile-ellipsis {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.js-ad-dependant-pt {
    padding: 0 !important;
  }

  .container {
    max-width: 1200px !important;
    padding: 0;
  }

  .card-chain-transactions > .card-body {
    padding: 0 !important;
  }
}

.tile-type-block-wrapper {
  border-radius: 4px;
  // overflow: hidden;
}

.tile .tile-bottom-contents-wrapper {
  padding: 20px;
}

.tile .tile-bottom-contents {
  background-color: white !important;
  position: relative;
  aspect-ratio: 1;
  padding: 0px;
  overflow: hidden;

  .text-truncate {
    position: absolute;
    bottom: 20px;
    // left: 20px;
    max-width: 80%;
  }

  .tile-transactions {
    margin-top: 34px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgba($black, 0.4);
  }

  .text-truncate a span {
    color: $primary;
  }

  .tile-title {
    padding: 0 !important;
    font-size: 20px;
    font-weight: 700;
    color: $black !important;
    letter-spacing: 2px;
  }
}

.dashboard-banner-network-graph {
  padding: 0 !important;

  .dashboard-banner-chart {
    max-width: 380px;
  }

  .dashboard-banner-chart-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: $white;
  }

  .dashboard-banner-chart-legend {
    display: flex;
    gap: 50px;
    display: grid;
    margin-top: 16px;
    padding-bottom: 0px;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;
    gap: 0px;

    .dashboard-banner-chart-legend-item {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-left: 0;

      .dashboard-banner-chart-legend-label {
        line-height: calc(14 / 12);
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 600;
        color: $white;
      }

      .dashboard-banner-chart-legend-value {
        font-size: 14px;

        .flex-column {
          line-height: 1;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

.dashboard-banner-network-plain-container {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none;
}

.dashboard-banner-network-plain-container::after {
  box-shadow: none !important;
}

.layout-container {
  .dashboard-banner-container {
    height: auto;
    padding: 30px;
    margin: 0 !important;
    background: linear-gradient(
        0deg,
        rgba(25, 27, 31, 0.12),
        rgba(25, 27, 31, 0.12)
      ),
      linear-gradient(90.59deg, #00f5a0 0.07%, #1bed48 100.43%);
    // background-color: $primary !important;
    // background-image: linear-gradient(to bottom, $dashboard-banner-gradient-start, $dashboard-banner-gradient-end);

    .dashboard-banner {
      gap: 80px;
    }

    .dashboard-banner-network-stats {
      column-gap: 30px;
    }

    .fontawesome-icon.info-circle {
      background-color: $white;
      mask-size: 18px !important;
      -webkit-mask-size: 18px !important;
      width: 18px !important;
      height: 18px !important;
      transform: translateY(-2px);
    }
  }

  .dashboard-banner-network-stats-item {
    gap: 10px;

    &::before {
      background-color: unset;
    }

    .dashboard-banner-network-stats-label {
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: rgba($white, 0.8);
    }

    .dashboard-banner-network-stats-value {
      font-weight: normal;
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
    }
  }

  .dashboard-banner-chart-legend .dashboard-banner-chart-legend-item {
    padding-left: 0;

    &.gas-price-oracle::before {
      background-color: unset;
    }

    &.tx-per-day::before {
      background-color: unset;
    }
  }
}

// GLB
.container-fluid.navbar-container {
  width: 100%;
}

.dropdown-toggle::after {
  border: unset !important;
  background-image: url("../static/images/icon-chevron-down.svg");
  width: 12px;
  height: 7px;
}

// card
.card {
  box-shadow: none !important;

  .card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
  }
}

// tile
.card-chain-blocks {
  margin-top: 60px;
}

.card-chain-blocks > .card-body {
  padding: 0 !important;
}

.card-chain-blocks .tile.tile-type-block {
  // background: linear-gradient(122.05deg, #7afff7 5.21%, #3817ff 36.17%, rgba(66, 255, 142, 0.82) 72.21%, rgba(124, 0, 222, 0.94) 95.29%),
  //   linear-gradient(0deg, #ffffff, #ffffff);
  // border: 2.5px solid;
  // border-image-source: linear-gradient(
  //   122.05deg,
  //   #7afff7 5.21%,
  //   #3817ff 36.17%,
  //   rgba(66, 255, 142, 0.82) 72.21%,
  //   rgba(124, 0, 222, 0.94) 95.29%
  // );
  background-image: linear-gradient(89.7deg, #50e238 2.5%, #25e898 97.77%),
    linear-gradient(0deg, #ffffff, #ffffff);
  background-origin: border-box;
  border: 2.5px solid transparent !important;
  border-radius: 4px;
  box-shadow: 0px 10px 30px -2px rgba(20, 193, 16, 0.15);

  > * {
    background-color: #ffffff;
  }

  > .tile-title {
    margin: 0 !important;
  }

  .tile-bottom-contents .text-truncate {
    color: $black;

    * {
      color: $black;
    }
  }
}

.menu-label.network {
  color: #191b1f !important;
  opacity: unset !important;
  // &:before {
  //   content: '';
  //   display: inline-block;
  //   width: 8px;
  //   height: 8px;
  //   border-radius: 50%;
  //   margin-right: 6px;
  //   background-color: #191B1F;
  // }
}

$tile-type-transaction-color: white;
$tile-body-a-color: $primary-700;
$tile-title-color: $black;
$text-muted: #8f8f8f;

.tile.tile-type-block,
.tile.tile-type-reorg,
.tile-type-internal-transaction,
.tile-type-token-transfer {
  border-left: 4px solid $primary !important;

  .tile-label {
    color: $primary !important;
  }

  .tile-transaction-type-block {
    background-color: rgba($primary, 0.1) !important;
    border-bottom: 1px solid $primary !important;
    border-right: 1px solid $primary !important;
    border-top: 1px solid $primary !important;
    color: $primary-700 !important;

    @include media-breakpoint-down(sm) {
      background: none !important;
      border: none !important;
    }
  }

  .progress .progress-bar {
    background-color: $primary;
  }

  &.tile[class*="status--error"] {
    .tile-label {
      color: $red-500 !important;
    }
    border-left: 4px solid $red-500 !important;
    .tile-transaction-type-block {
      background-color: rgba($red-500, 0.1) !important;
      border-bottom: 1px solid $red-500 !important;
      border-right: 1px solid $red-500 !important;
      border-top: 1px solid $red-500 !important;
      color: $red-500 !important;

      @include media-breakpoint-down(sm) {
        background: none !important;
        border: none !important;
      }
    }
  }
}

.tile.tile-type-reorg .tile-transaction-type-block a {
  color: $primary-700 !important;
}

.tile.tile-type-internal-transaction .tile-label {
  color: $primary-700 !important;
}

.tile.tile-type-contract-creation,
.tile.tile-type-contract-call,
.tile.tile-type-transaction {
  border-left: 1px solid $border-color !important;

  .tile-label {
    color: white !important;
  }

  .tile-body .tile-transaction-type-block {
    background-color: unset;
    border-bottom: none;
    border-top: none;
    border-right: none;
    color: unset;
    padding: 0;
  }

  .tile-label-group {
    width: fit-content;
    padding: 5px 6px;
    background-color: $black;
  }

  .tile-status-label-group {
    width: fit-content;
    padding: 5px 6px;
    background-color: $primary-400;
    color: white;
  }

  &.tile[class*="status--error"] {
    .tile-label {
      color: white !important;
    }

    .tile-status-label-group {
      background-color: $red-500;
    }

    .tile-status-error-label {
      padding: 10px;
      color: $red-500;
    }
  }
}

// buttons
$btn-line-color: #000000;
.card-body {
  .col-lg-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    max-height: 20%;
  }
}

.card-body .btn-line {
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  &:hover {
    background-color: unset;
    color: unset;
  }
}

//docs
.api-text-monospace {
  color: $primary-700 !important;
}

.api-text-monospace-background {
  background-color: rgb($primary-700, 0.1) !important;
}

//tooltip
.tooltip {
  .tooltip-inner {
    background-color: $primary !important;
  }

  .arrow::before {
    border-top-color: $primary !important;
    border-bottom-color: $primary !important;
  }
}

//copy button
.btn-copy-icon {
  border: 1px solid $primary !important;
  path {
    fill: $primary !important;
  }
  &:hover {
    background-color: $primary !important;
    path {
      fill: $white !important;
    }

    &.btn-copy-icon-no-borders {
      background-color: transparent !important;
      path {
        fill: $primary !important;
      }
    }
  }

  &.btn-copy-icon-no-borders {
    border: none !important;
  }
}

//qr button
.btn-qr-icon {
  border: 1px solid $primary !important;
  path {
    fill: $primary !important;
  }
  &:hover {
    background-color: $primary !important;
    path {
      fill: $white !important;
    }

    &.btn-copy-icon-no-borders {
      background-color: transparent !important;
      path {
        fill: $primary !important;
      }
    }
  }

  &.btn-copy-icon-no-borders {
    border: none !important;
  }
}

//tab
.card-tab {
  &:hover {
    background-color: rgba($primary, 0.15) !important;
    color: $primary-700 !important;
  }

  &.active {
    background-color: $primary !important;
  }
}

//modal
.modal-backdrop {
  background-color: rgba($primary, 0.8) !important;
}

.modal-content .btn-primary {
  background-color: $primary !important;
  border: 1px solid $primary !important;
  &:hover {
    background-color: $primary !important;
    border-color: $primary !important;
  }
}

// navigation
#navbarDropdown {
  cursor: default;
}

.navbar {
  height: 90px;
  position: sticky !important;
  align-items: flex-start !important;
  top: 0;
  padding: 0 !important;
  box-shadow: none;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);

  .input-group-append {
    top: 20px;
  }

  .search-form {
    width: 100%;
    height: 90px;
    margin: 0 !important;
  }

  .form-control {
    &.search-control {
      width: 100% !important;
      padding: 0 0 0 32px !important;
      background-color: white !important;
      // border: none;
      // border-left: 1px solid rgba(25, 25, 25, 0.1);
      border-radius: 4px;
      display: flex !important;
      align-items: center;

      .icon-wrapper * {
        fill: #6a7181 !important;
      }

      svg {
        margin-right: 12px;
        width: 24px;
        height: 24px;
        padding: 3px;
      }

      .main-search-autocomplete {
        background-color: white !important;
        border-color: white !important;

        &::placeholder {
          color: rgba(#191b1f, 0.3);
          font-weight: 600;
          font-size: 14px;
          line-height: 15px;
        }
      }
    }
  }

  .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 16px !important;
    line-height: 15px;
    color: rgba($black, 0.7) !important;
  }

  .navbar-container {
    align-items: flex-start !important;
    padding: 0 !important;
    max-width: 1450px !important;
  }

  .navbar-brand {
    padding: 0 !important;
    margin: 28px 0 0 0 !important;
  }

  .navbar-logo {
    max-width: unset !important;
    width: 140px !important;
    height: 36.24px !important;
  }

  .navbar-collapse {
    justify-content: flex-start !important;
    align-items: flex-start !important;

    .desktop-menu-container {
      display: block;
      z-index: 1;

      .ic-chevron-down {
        width: 16px;
        height: 16px;
      }

      .desktop-menu-wrapper {
        display: flex;
        margin: 40px 36px 0 41px;

        .menu-column {
          .menu-label {
            font-weight: 600;
            font-size: 16px;
            line-height: 15px;
            color: $black;
            opacity: 0.7;
            white-space: nowrap;
            cursor: pointer;

            // margin-bottom: 77px;
          }

          .menu-item {
            display: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 15px;
            color: $black;

            a {
              color: $black;

              &:hover {
                text-decoration: none;
                color: #44d620;
              }
            }
          }

          .manu-item-wrapper {
            position: absolute;
          }

          .desktop-menu-background {
            display: none;
            z-index: -1;
            position: absolute;
            top: 90px;
            left: 0;
            width: 100%;
            height: 285px;
            background-color: white;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), inset 0px -1px 0px rgba(25, 25, 25, 0.7);
            border-top: 1px solid rgba(25, 25, 25, 0.1);
            border-bottom: 1px solid rgba(25, 25, 25);
          }
        }

        .menu-column + .menu-column {
          margin-left: 50px;
        }

        .menu-item + .menu-item {
          margin-top: 30px;
        }

        &:hover {
          .menu-item,
          .desktop-menu-background {
            display: block;
          }

          .menu-label {
            margin-bottom: 77px;
          }
        }
      }
    }

    .mobile-menu-container {
      display: none;
    }
  }
}

// footer
$footer-background-color: $black;
$footer-text-color: rgba(#ffffff, 0.4);

footer {
  padding: 47px 0px 50px !important;

  .footer-description {
    max-width: 335px;
  }

  .footer-link:hover,
  a:hover {
    color: $white !important;
    text-decoration: auto !important;
  }

  .row .footer-info-text {
    font-size: 14px;
    font-weight: 500;
    min-width: 386px;
  }

  .release-version a {
    text-decoration: underline;
  }

  .footer-body.container {
    padding: 0;
    max-width: 1450px;

    & > div:nth-child(3) {
      font-size: 14px;
    }
  }

  .fontawesome-icon.github {
    width: 23px;
    height: 23px;
    mask-size: 23px !important;
    -webkit-mask-size: 23px !important;
  }

  .footer-logo {
    width: 140px;
    height: 33px;
    filter: invert(58%) sepia(15%) saturate(202%) hue-rotate(169deg)
      brightness(93%) contrast(91%);
    opacity: 0.7;
  }

  .footer-logo-row {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-icons {
      display: flex;

      a + a {
        margin-left: 20px;
      }

      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        background-size: 30px 30px;

        &:hover {
          opacity: 1;
        }

        &.discord {
          background-image: url("../static/images/icon_discord.svg");
        }

        &.twitter {
          background-image: url("../static/images/icon_twitter.svg");
        }

        &.medium {
          background-image: url("../static/images/icon_medium.svg");
        }

        &.docs {
          background-image: url("../static/images/icon_docs.svg");
        }
      }
    }
  }

  .footer-link-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;

    .footer-links {
      display: flex;

      .release-version,
      .blockscout-link {
        a {
          color: inherit;
          text-decoration: underline;
        }
      }

      div + div {
        margin-left: 40px;
      }

      .btn-add-chain-to-mm {
        font-weight: 600;
      }
    }

    .footer-policies {
      display: flex;
      align-items: center;
      font-weight: 600;

      a {
        cursor: pointer;
      }

      hr {
        width: 2px;
        height: 10px;
        background-color: rgb(134, 142, 150);
        opacity: 0.2;
        margin: 0px 10px;
      }
    }
  }

  .footer-bottom-row {
    display: none;
  }

  .footer-info-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding-right: 86px;
    margin: 0 0 19px;
  }

  .footer-social-icons {
    margin-bottom: 40px;
  }

  .footer-social-icon-container {
    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .footer-etc-wrapper {
    display: flex;
    gap: 30px;

    aside {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  .terms-wrapper {
    a {
      position: relative;
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;
      color: rgba($white, 0.4);
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: -12px;
        display: inline-block;
        width: 1px;
        height: 10px;
        background: rgba(white, 0.2);
      }
    }

    a + a {
      margin-left: 20px;
    }
  }
}

@media (max-width: 1540px) {
  .navbar {
    padding: 0 30px !important;
  }

  footer {
    .footer-body.container {
      padding: 0 30px;

      & > div:nth-child(3) {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1260px) {
  main {
    section.container {
      padding: 0px 26px;
    }
  }
}

@media (max-width: 991px) {
  .footer-description {
    p {
      font-weight: 500;
      font-size: 12px !important;
      line-height: 20px;
    }
  }

  .card-body .col-lg-3 {
    max-width: none;
    white-space: nowrap;
  }

  main {
    .desktop-only {
      display: none;
    }

    .mobile-only {
      display: inherit;
    }

    section.container {
      padding: 0;
    }

    .tile.tile-type-transaction {
      .from-to-address {
        a[data-test="address_hash_link"] {
          width: fit-content;
        }
      }

      .transation-content {
        max-width: 100%;
      }

      .mobile-ellipsis {
        width: 100%;
      }
    }

    .tile.tile-type-internal-transaction,
    .tile.tile-type-token-transfer,
    .tile.tile-type-contract-call {
      .from-to-address {
        a[data-test="address_hash_link"] {
          width: calc(50% - 15px);

          span[data-address-hash] {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        span[data-address-hash] {
          width: calc(50% - 15px);
        }
      }

      .mobile-ellipsis {
        width: 100%;
      }
    }

    div[data-selector="chain-block-list"] {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      margin: 0 !important;

      & > div:nth-child(5) {
        display: none !important;
      }

      div.col-lg-3 {
        max-width: 100%;
        max-height: 100%;
        padding: 0 !important;
      }
    }

    .container {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .card-chain-transactions > .card-body {
      padding: 0 26px 0 26px !important;

      a {
        padding-left: 0;
      }
    }

    .card-body {
      padding: 26px;

      .btn-line {
        font-size: 14px;
        font-weight: 500;
        color: rgba($black, 0.8);
      }
    }

    .dashboard-banner-network-graph {
      padding-top: 0 !important;

      .dashboard-banner-chart {
        max-width: 100%;
        height: auto !important;
      }

      .dashboard-banner-chart-title {
        font-size: 24px;
        line-height: 25px;
        color: $white;
      }

      .dashboard-banner-chart-legend {
        display: grid;
        margin-top: 16px;
        padding-bottom: 0px;
        padding-left: 0px;
        grid-template-columns: 1fr 1fr;
        gap: 0px;

        .dashboard-banner-chart-legend-item {
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding-left: 0;

          .dashboard-banner-chart-legend-label {
            font-size: 12px;
            line-height: calc(14 / 12);
            font-weight: 500;
          }

          .dashboard-banner-chart-legend-value {
            font-size: 14px;

            .flex-column {
              font-size: 14px;
              line-height: 1;
              font-weight: 500;
            }
          }
        }
      }
    }

    .dashboard-banner-container {
      padding: 0 !important;
      margin-bottom: 0;

      .container {
        margin: 0;
        width: 100%;
        padding: 30px 26px 26px 26px !important;
      }

      .dashboard-banner {
        flex-direction: column;
        gap: 32px !important;
      }

      .dashboard-banner-network-plain-container {
        width: 100%;
        box-shadow: none;
      }

      .dashboard-banner-network-stats {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 10px !important;
      }

      .dashboard-banner-network-stats-item {
        background: #4ade80;
        border: 0.75px solid #86efac;
        padding: 16px;
        border-radius: 4px;
        gap: 4px;

        .dashboard-banner-network-stats-label {
          font-size: 12px;
          line-height: 14px;
        }

        .dashboard-banner-network-stats-value {
          font-size: 20px;
          line-height: 1;
          font-weight: 600;
        }
      }
    }

    .card-chain-blocks {
      margin-top: 0;
    }

    .card-chain-blocks > .card-body {
      padding: 40px 26px 0 26px !important;
    }

    .card-chain-blocks .tile.tile-type-block {
      margin-bottom: 0;

      .tile-title {
        padding: 0;
        padding-top: 20px;
        font-size: 16px;
        color: $black !important;
      }

      .tile-transactions {
        margin-top: 20px;
        margin-bottom: 36px;

        div {
          font-size: 11px;
          line-height: 16px;
          color: rgba($black, 0.4);
        }
      }

      .text-truncate,
      .text-truncate span {
        font-size: 11px;
        font-weight: 500;
      }
    }

    span[data-selector="transactions-list"] {
      .tile-transaction-type-block {
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        display: flex;
        margin-left: 0;
        margin: 0;
        justify-content: flex-start;
        flex-direction: row !important;
      }

      .tile-type-transaction {
        position: relative;
        padding: 40px 20px 20px;
        border: 1px solid rgba(25, 25, 25, 0.1);
        border-radius: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

        .tile-label-group,
        .tile-status-label-group {
          font-size: 12px !important;
          font-weight: 500 !important;
          line-height: 24px !important;
          padding: 0 6px !important;
        }

        .row {
          flex-direction: column;

          span {
            line-height: 2;
          }

          & > div:nth-child(2) {
            padding-right: 15px !important;

            span:nth-child(3) {
              flex-direction: row !important;
              gap: 6px;
              margin-top: 0 !important;
            }
          }

          & > div:nth-child(3) {
            display: flex;
            flex-direction: row !important;
            gap: 12px;
            margin-left: 0 !important;

            span {
              text-align: left !important;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .navbar {
    position: sticky !important;
    top: 0;
    padding: 0 26px 20px 26px !important;
    height: auto;

    .navbar-brand {
      height: 60px;
      margin: 0 !important;
    }

    .navbar-logo {
      width: 100px !important;
      height: auto !important;
    }

    .search-form {
      height: inherit;
    }

    .navbar-container {
      align-items: center !important;
    }

    .navbar-collapse {
      transition: none !important;

      &.show {
        overflow-y: auto;
        height: calc(100vh - 130px);
        justify-content: flex-start;

        @supports (height: calc(100dvh - 130px)) {
          height: calc(100dvh - 130px);
        }
      }

      .desktop-menu-container {
        display: none;
      }

      .mobile-menu-container {
        display: block;
        width: 100%;
        margin: 20px 0;

        .mobile-menu-wrapper + .mobile-menu-wrapper {
          margin-top: 50px;
        }

        .label-row {
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: $black;
          opacity: 0.4;
        }

        .menu-row {
          display: flex;
          justify-content: space-between;
          margin-top: 24px;
          flex-wrap: wrap;
          gap: 30px;
        }

        .menu-link {
          width: calc(50% - 15px);
          font-weight: 600;
          font-size: 20px;
          line-height: 20px;

          a {
            color: $black;

            &:hover {
              text-decoration: none;
              color: #44d620;
            }
          }
        }
      }
    }

    .navbar-toggler[aria-expanded="true"] {
      .navbar-toggler-icon {
        width: 20px !important;
        height: 20px !important;
        background-image: url($header-toggler-icon-primary) !important;
      }
    }

    .navbar-toggler[aria-expanded="false"] {
      .navbar-toggler-icon {
        width: 20px !important;
        height: 20px !important;
        background-image: url($header-toggler-icon-black) !important;
      }
    }

    #search-icon {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .navbar.navbar-primary .navbar-toggler .navbar-toggler-icon {
      background-image: url("../static/images/icons/icon-menu.svg") !important;
    }

    .navbar-toggler .navbar-toggler-icon {
      background-image: url("../static/images/icons/icon-menu.svg") !important;
    }

    .form-control {
      display: flex;
      align-items: center;
      background: #f8f9fa !important;
      border-color: #f8f9fa !important;
      height: 50px !important;
      border-radius: 2px;

      &.search-control {
        display: flex;
        align-items: center;
        background-color: #f8f9fa !important;
        padding: 12px !important;

        .main-search-autocomplete {
          background-color: #f8f9fa !important;
          border-color: #f8f9fa !important;
        }
      }

      input {
        background: #f8f9fa !important;
        font-weight: 600;
        color: $black !important;

        &::placeholder {
          color: rgba(#191b1f, 0.3);
        }
      }

      .autoComplete_wrapper {
        position: static;
      }

      .autoComplete_wrapper > ul {
        background: $white;
        border: 1px solid #e9ecef;
        box-shadow: 0px 10px 15px rgba(200, 208, 217, 0.2) !important;
        border-radius: 4px !important;
        margin: 10px 0 0 0 !important;
        padding: 20px !important;

        & > li {
          margin: 0.3rem 0;
          padding: 0.3rem 0;

          &:hover {
            background: none !important;
          }

          & > div:nth-child(2) {
            padding-left: 0 !important;
            color: $black !important;
          }

          .autocomplete-category {
            font-size: 12px;
            font-weight: 700;
            color: $black;
          }
        }

        p {
          margin: 0;
          font-size: 12px !important;
          color: #868e96;
        }
      }
    }

    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
    }

    .search-form {
      margin-top: 18px;

      &.focused-field {
        border-color: $primary !important;
      }
    }

    .container-fluid.navbar-container {
      width: 100%;
    }
  }

  footer {
    padding: 40px 0px 116px !important;

    .row .footer-info-text {
      min-width: auto;
      font-size: 12px;
    }

    .fontawesome-icon.github {
      width: 25px;
      height: 25px;
      mask-size: 25px !important;
      -webkit-mask-size: 25px !important;
    }

    .footer-logo-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-logo-wrapper {
        display: none;
      }
    }

    .footer-link-row {
      flex-direction: column-reverse;
      gap: 24px;
      margin-top: 40px;

      .footer-links {
        .release-version,
        .blockscout-link {
          display: none;
        }

        a {
          text-decoration: none;
        }

        div + div {
          margin-left: 0px;
        }
      }

      .footer-policies {
        font-weight: 500;
      }
    }

    .footer-bottom-row {
      display: flex;
      justify-content: space-between;

      margin-top: 40px;
      padding-top: 16px;
      border-top: 1px solid #ffffff1a;

      font-weight: 500;
      font-size: 12px !important;
      line-height: 20px;

      a {
        color: inherit;
        text-decoration: underline;
      }
    }

    .footer-info-text {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      padding-right: 86px;
      margin: 0 0 19px;
    }

    .footer-social-icons {
      margin-bottom: 44px;
    }

    .footer-etc-wrapper {
      display: block;
      gap: 0px;

      aside {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          font-size: 13px;
        }

        .release-version {
          a {
            font-size: 14px;
          }
        }
      }
    }

    .terms-wrapper {
      margin-top: 20px;

      a {
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
        color: rgba($white, 0.4);

        &:first-child:before {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .tile.tile-type-transaction {
      .from-to-address {
        a[data-test="address_hash_link"] {
          width: calc(50% - 53px);
        }

        span[data-address-hash] {
          width: calc(50% - 53px);
        }
      }

      .mobile-ellipsis {
        width: 100%;
      }
    }

    .tile .tile-bottom-contents {
      .text-truncate span {
        color: $primary !important;
      }
    }

    div[data-selector="chain-block-list"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;

      & > div:nth-child(5) {
        display: none !important;
      }

      div.col-lg-3 {
        max-width: 100%;
        max-height: 100%;
        padding: 0 !important;
      }
    }

    section[data-page="address-details"],
    section[data-page="transaction-details"] {
      .js-ad-dependant-mb-3-wrapper {
        padding: 0;
      }

      .js-ad-dependant-mb-3,
      .js-ad-dependant-mb-2 {
        padding: 0;

        dt,
        dd {
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  main {
    div[data-selector="chain-block-list"] {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      margin: 0 !important;
    }

    .dashboard-banner-container {
      .dashboard-banner-network-stats-item {
        padding: 16px 0;
        padding-left: 5px;
      }
    }
  }
}
