// general
$primary: #5637FB;
$secondary: #5637FB;
$font-family: "Pretendard";

// dashboard
$dashboard-line-color-transactions: #2DEAA2;
$dashboard-banner-gradient-start: $primary; // gradient begin
$dashboard-banner-gradient-end: $primary; // gradient end
$dashboard-banner-network-plain-container-background-color: $primary; // stats bg
.dashboard-banner-network-plain-container {
  margin: 0 !important;
  padding: 0 !important;
}

.dashboard-banner-network-plain-container::after {
  box-shadow: none !important;
}

.layout-container {
  .dashboard-banner-container {
    background-color: $primary !important;
    background-image: linear-gradient(to bottom, $dashboard-banner-gradient-start, $dashboard-banner-gradient-end);
  }

  .dashboard-banner-network-stats-item {
    &::before {
      background-color: unset;
    }

    .dashboard-banner-network-stats-label {
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
    }

    .dashboard-banner-network-stats-value {
      font-weight: normal;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .dashboard-banner-chart-legend .dashboard-banner-chart-legend-item {
    &.gas-price-oracle::before {
      background-color: unset;
    }

    &.tx-per-day::before {
      background-color: unset;
    }
  }
}

// GLB
.container-fluid.navbar-container {
  width: fit-content;
}

// card
.card {
  box-shadow: none !important;

  .card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
  }
}

// tile
.card-chain-blocks .tile.tile-type-block {
  background: linear-gradient(122.05deg, #7AFFF7 5.21%, #3817FF 36.17%, rgba(66, 255, 142, 0.82) 72.21%, rgba(124, 0, 222, 0.94) 95.29%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 2.5px solid;
  border-image-source: linear-gradient(122.05deg, #7AFFF7 5.21%, #3817FF 36.17%, rgba(66, 255, 142, 0.82) 72.21%, rgba(124, 0, 222, 0.94) 95.29%);
  border-radius: 15px;
  box-shadow: 0 10px 30px -2px #5637FB26;

  > * {
    background-color: #ffffff;
  }

  > .tile-title {
    margin: 0 !important;
  }
}

$tile-type-transaction-color: white;
.tile.tile-type-transaction {
  border-left: 1px solid $border-color !important;

  .tile-body .tile-transaction-type-block {
    background-color: unset;
    border-bottom: none;
    border-top: none;
    border-right: none;
    color: unset;
    padding: 0;
  }

  .tile-label-group {
    width: fit-content;
    padding: 5px 6px;
    background-color: #191919;
  }

  .tile-status-label-group {
    width: fit-content;
    padding: 5px 6px;
    background-color: $primary;
    color: white;
  }
}

.tile[class*=status--error] {
  .tile-label {
    color: white !important;
  }

  .tile-status-label-group {
    background-color: #D00025;
  }

  .tile-status-error-label {
    padding: 10px;
    color: #D00025;
  }
}

// buttons
$btn-line-color: #000000;
.card-body {
  .col-lg-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.card-body .btn-line {
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

// navigation
.navbar {
  height: 90px;

  .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 16px !important;
    line-height: 15px;
    color: rgba(#191919, 0.7) !important;
  }
}

// footer
$footer-background-color: #191919;
$footer-text-color: rgba(#FFFFFF, 0.4)